#main-header {
  background: #3ecf8e;
  position: fixed;
  width: 100%;
}

.main-nav {
  display: flex;
  list-style: none;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0em 2em;
  margin: 1.7em 0;
}

.main-nav li {
  margin-right: 1.5rem;
}

.main-nav li:last-of-type {
  margin-right: 0;
}

.main-nav li a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.75);
  padding: 1rem 0;
}

.main-nav li a:hover {
  color: rgba(255, 255, 255);
}
