#app {
  text-align: center;
}

#logo {
  animation: logo-spin infinite 5s linear;
  height: 12.5vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
